<!DOCTYPE html>
<html>

<head>
  <style>
    body {
      font-family: "Montserrat";
      background-color: #f4f4f2;
    }

    .kategori {
      width: 100%;
      background-color: #555;
      overflow: auto;

    }

    .kategori a {
      float: left;
      padding: 12px;
      color: white;
      text-decoration: none;
      font-size: 17px;
      width: 25%;
      text-align: center;



    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Montserrat-Bold";
    }

    .urunAdi {
      color: black;
    }

    html {
      min-height: 1000px;
      font-family: 'helvetica neue';
    }



    .card {
      /* Add shadows to create the "card" effect */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      margin-top: 0;
      margin-left: 5;
    }

    .urun-fiyati {
      margin-bottom: 0;
    }

    .urun-fiyati:before {
      content: "₺";
    }

    .card-text {
      margin-bottom: 0cm;

    }

    .card-body {
      text-align: center;
    }

    .totals {
      color: black;
    }

    .navbar-light {
      display: flex;
      display: inline;
      position: relative;
    }



    .card-title {
      color: black;
      margin-bottom: 0%;
    }

    /* On mouse-over, add a deeper shadow */
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    /* Add some padding inside the card container */
    .container {
      padding: 2px 16px;

    }


    h1 {
      color: black;
      padding: 10px;
    }

    input:checked+p {
      text-decoration: line-through;
      text-decoration-color: #A683E3;
    }

    input[type="checkbox"] {
      margin: 20px;
    }

    p {
      margin: 0;
      padding: 20px;
      font-size: 20px;
      font-weight: 200;
      color: #00204a;
    }

    form {
      margin-left: 20px;
    }

    button {
      min-height: 50px;
      width: 50px;
      border-radius: 50%;
      border-color: transparent;
      background-color: #A683E3;
      color: #fff;
      font-size: 30px;
      padding-bottom: 6px;
      border-width: 0;
    }

    input[type="text"] {
      height: 60px;
      top: 10px;
      font-size: 20px;
      font-weight: 200;
      margin: groove;
    }


    ::placeholder {
      color: grey;
      opacity: 1;
    }

    footer {
      color: white;
      color: rgba(0, 0, 0, 0.5);
      text-align: center;
    }

    img.urun-resmi {
      width: 100%;
      display: block;
      height: 80%;
      margin-top: auto;
      margin-bottom: auto;
    }


    /* Containers */

    .container-fluid {
      padding: 1% 5%;
      margin: 0%;

    }

    /* Sections */

    .colored-section {
      color: black;
      background-color: #f67280;
    }

    /* Navigation Bar */

    .navbar {
      padding: 0 0 1rem;
    }

    .navbar-link {
      color: white;
    }

    .navbar-brand {
      font-family: "Ubuntu";
      font-size: 2.5rem;
      font-weight: bold;
      color: red;
    }

    .nav-item {
      padding: 0 18px;
    }

    .nav-link {
      font-size: 1.2rem;
      font-family: "Montserrat-Light";
      font-size: x-large;
    }

    /* Buttons */
  </style>
  <meta charset="utf-8" />
  <title>Hakazon</title>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet" />

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/styles.css" />

  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
</head>

<body>
  <section class="colored-section" id="title">
    <div class="container-fluid">
      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">hakazon</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="./sepet">Sepetim</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./hesabim">Hesabım</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </section>

  <div class="kategori">
    <a href="/elektronik">Elektronik</a>
    <a href="/moda">Moda</a>
    <a href="/kitap">Kitap</a>
    <a href="/spor">Spor</a>
  </div>

  <br><br>
  <h1 id="onaylandi"> Siparişin Onaylandı.</h1>
  <button type="button" id="button2" class="btn btn-primary btn-lg btn-block">Siparişlerime Git.</button>

  </div>
  <style>
    #onaylandi {
      text-align: center;
    }

    #button2 {
      width: 30%;
      margin: 0 auto;
      display: block;
    }
  </style>
</body>

</html>